/* add css styles here */
body{
  background-color: #1f2937;
  font-family: Roboto, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  color: #f9faf8;
  font-size: 24;
  position: absolute;
  box-sizing: border-box;
}
.logo {
  width: 100%;
  padding-left: 128px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 90%;
  box-sizing: border-box;
  padding-right: 32px;

}
.links{
    display: flex;
    align-items: baseline;
    list-style-type: none;
    gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  display:flex;
  list-style-type: none;
  margin: 1;
  padding: 0;
  gap: 16px;
  font-size: 18px;
}

.hero-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  font-size:24px;
  color: #f9faf8;
  font-weight: 900;
  width: 100%;
  padding-left: 128px;
  height: 100vh;
  margin-top: -190px;
}

.hero-subtext{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  box-sizing: border-box;
  color: #e5e7eb;
  width: 560px;
  padding-left: 128px;
  font-size: 18px;
  height: 300vh;
  margin-top: -900px;
}
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px 25px;
  background-color: #3882F6;
  color: #f9faf8;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  box-sizing: border-box;
  margin-top: 16px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: gray;
  color:white;
  border: none;
  width: 550px;
  padding: 30px;
  margin-left: 800px;
  position: absolute;
  box-sizing: border-box;
  margin-top: 150px;
}

.random-information {
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content:baseline;
  align-items:baseline;
  height: 400px;
  width: 1700px;
  background: #f9faf8;
  color:#1f2937;
  box-sizing: border-box;
  padding: 16px;
  margin: 16px;
  position: absolute;
  margin-top: 500px;
  margin-left: -8px;
  right: -25px;
}
.random-information h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50px;
  width: 100%;
}

.boxes-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 200px;
  flex-direction:column;
  align-items: center;
}


.box-one {
  width: 180px;
  height: 180px;
  border: 3px solid #3882F6;
  border-radius: 15px;
  margin-bottom: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 250px;
  position: relative;
  left: 150px;

}

.first-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 250px;
  margin-top: -50px;
  color: #999b9f;
  position: relative;
  left: 150px;

}

.box-two {
  width: 180px;
  height: 180px;
  border: 3px solid #3882F6;
  border-radius: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 490px;
  margin-bottom: 0px;
  position: relative;
  top: 598px;
}
.second-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 490px;
  color: #999b9f;
  margin-bottom: 100px;
  position: relative;
  top: 547px;
  font-size: 16px;
}

.box-three {
  width: 180px;
  height: 180px;
  border: 3px solid #3882F6;
  border-radius: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 490px;
  margin-bottom: 0px;
  position: relative;
  top: 121px;
}
.third-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 490px;
  color: #999b9f;
  margin-bottom: 100px;
  position: relative;
  top: 70px;
  font-size: 16px;
}

.box-four {
  width: 180px;
  height: 180px;
  border: 3px solid #3882F6;
  border-radius: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 500px;
  margin-bottom: 0px;
  position: relative;
  top: -355px;
}
.fourth-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 490px;
  color: #999b9f;
  margin-bottom: 100px;
  position: relative;
  top: -405px;
  font-size: 16px;
}

.quote {
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content:baseline;
  align-items:baseline;
  height: 300px;
  width: 1800px;
  background: #e5e7eb;
  color:#1f2937;
  box-sizing: border-box;
  padding: 16px;
  margin: 16px;
  position: relative;
  top: -520px;
  right: 25px;
}

.message {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  width: 50%;
  font-size: 36px;
  position: relative;
  left: 300px;
  top: 80px;
  font-style: italic;
}

.author{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 36;
  position: relative;
  left: 900px;
  top: 100px;
  font-style:italic;
}

.call{
  display:flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:baseline;
  align-items:baseline;
  height: 300px;
  width: 1700px;
  background: white;
  color:#1f2937;
  box-sizing: border-box;
  padding: 16px;
  margin: 16px;
  position: relative;
  top: 892px;
  right: -25px;
}

.section-blue {
  display:flex;
  align-items: center;
  justify-content: center;
}








